{% extends 'home/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container pub-container">
        <h1>Nos services les plus sollicités :</h1>
        <div class="row">
            {% for i in 1..8 %}
                <div class="col-sm-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="card-title text-blue">Service {{ i }}</h3>
                            <small>Contenu du service {{ i }}.</small>
                            <a href="{{ path('blog.service.default.show', {'id': i}) }}" class="btn btn-info mt-2">Go somewhere</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a href="{{ path('blog.service.default.index') }}" class="btn btn-primary text-light btn-lg">Voir tous les services</a>
    </div>

    <div class="container pub-container">
        <h1>Les questions les plus posées :</h1>
        <div class="row">
            {% for j in 1..9 %}
                <div class="col-sm-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="card-title text-blue">Question {{ j }}</h3>
                            <small>Contenu de la question {{ j }}.</small>
                            <br>
                            <a href="{{ path('blog.question.default.show', {'id': j}) }}" class="btn btn-info mt-2">Voir les réponses</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a href="{{ path('blog.question.default.index') }}" class="btn btn-primary text-light btn-lg">Voir toutes les questions</a>
    </div>
{% endblock %}
