

{% extends 'question/base.html.twig' %}

{% block title %}Détails du Service{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h2 class="text-info">{{ service.name }}</h2>
            </div>
            <div class="card-body">
                <h5><strong class="text-info">Libelle:</strong> {{ service.miniDescription }}</h5>
                <h5><strong class="text-info">Description:</strong> {{ service.description }}</h5>
                <p><strong class="text-info">Nombre de visites:</strong> {{ service.numberOfRequests }}</p>
            </div>
            <div class="card-footer text-end">
                <a href="{{ path('blog.service.default.index',{username: username}) }}" class="btn btn-info">Retour à la liste</a>
            </div>
        </div>
    </div>
{% endblock %}
