

{% extends 'question/user/base.html.twig' %}

{% block title %}Détails du Service{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                <h2 class="text-blue">{{ service.name }}</h2>
            </div>
            <div class="card-body">
                <h5><strong class="text-blue">Description courte:</strong> {{ service.miniDescription }}</h5>
                <h5><strong class="text-blue">Description:</strong> {{ service.description }}</h5>

                <p class="text-green"><strong class="text-blue">Nombre de visites:</strong> {{ service.numberOfRequests }}</p>
                {#                <p><strong>Créé le:</strong> {{ service.createdAt|date('d/m/Y H:i') }}</p>#}
                {#                <p><strong>Mis à jour le:</strong> {{ service.updatedAt|date('d/m/Y H:i') }}</p>#}
            </div>
            <div class="card-footer text-end">
                <a href="{{ path('blog.service.user.index', {username: username}) }}" class="btn btn-primary">Retour à la liste</a>
            </div>
        </div>
    </div>
{% endblock %}
