{% extends 'home/admin/base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container pub-container">
        <br><br>
        <h1>Bienvenue sur votre page personnalisée, {{ username }}</h1>
        <br><br>
        <!-- Services Section -->
        <h2>Nos services les plus sollicités :</h2>
        <div class="row">
            {% for service in services %}
                <div class="col-sm-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="card-title text-blue">Service</h3>
                            <div class="container sm "><small><strong>{{ service.name }}</strong></small></div>
                            <a href="{{ path('blog.service.admin.index',{username:username }) }}" class="btn btn-info mt-2"><i class="fa fa-eye"></i> voir plus</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a href="{{ path('blog.service.admin.index',{username:username}) }}" class="btn btn-info  btn-lg"><i class="fa fa-eye"></i> Voir tous les services</a>

        <!-- Questions Section -->
        <h2>Les questions les plus posées :</h2>
        <div class="row">
            {% for question in questions %}
                <div class="col-sm-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h3 class="card-title text-blue">Question</h3>
                            <div class="container sm"><small><strong>{{ question.title }}</strong></small></div>
                            <br>
                            <a href="{{ path('blog.response.question.index',{id: question.id}) }}" class="btn btn-info mt-2"><i class="fa fa-eye"></i> Voir les réponses</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a href="{{ path('blog.question.admin.index',{username: username}) }}" class="btn btn-info  btn-lg"><i class="fa fa-list"></i> Voir toutes les questions</a>
    </div>
{% endblock %}
