{% extends 'question/user/base.html.twig' %}


    {% block body %}
        {% include 'partials/flash.html.twig' %}
<div class="container">
    <br><br>
        <div class="card  mb-2">
            <div class="card-body">
                <h5 class="card-title text-info">Question :{{ question.title}}</h5>
                <p class="card-text"> <strong>{{ question.content }}</strong> </p>
                <p> Responses : <strong>{{ question.responses|length }}</strong></p>
                <p>created by : <strong class="text-info"> {{ question.creator.username }}<i class="fa-solid fa-user"></i></strong>  <br><br> <strong>{{ question.createdAt | date('l h:i  d/m/y ') }}</strong> </p>
                <a href="{{ path('blog.response.create.default',{id: question.id}) }}" class="btn btn-info">Repondre</a>
{#                <a href="{{ path('blog.response.question.index',{id: question.id, username: username}) }}" class="btn btn-info" >Voir les réponses</a>#}
            </div>
        </div>
    <br>

        {% for response in responses %}
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title ">
                        <strong class="text-info"> {{ response.creator.getUsername() }}<i class="fa-regular fa-user"></i></strong>
                            <small><strong class="text-info right text-sm">{{ question.createdAt | date('l h:i  d/m/y ') }}</strong></small>
                            <br>
                    </h5>
                    <p>
                        {{ response.content }}
                    </p>
                </div>
            </div>
            <br>
        {% endfor %}
</div>

        <style>
            .text-sm{
                font-size: 15px;
                margin-left: 75%;
            }
        </style>
    {% endblock %}




