{% extends 'question/admin/base.html.twig' %}

{% block title %}User Management{% endblock %}

{% block body %}
    <div class="container p-5">
        <div class="title-section  text-center mb-4">Welcome administrator <strong class="text-info">{{ username | upper}}</strong>.</div>
        <table class="table table-striped">
            <thead >
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.getUsername() }}</td>
                    <td>{{ user.getEmail() }}</td>
                    <td class="role-{{ user.getRoles()[0]|lower }}">
                        {% if user.getRoles()[0] == 'ROLE_USER' %}
                         <a class="btn btn-secondary" href="#">USER</a>
                        {% elseif user.getRoles()[0] == 'ROLE_ADMIN' %}
                            <a class="btn btn-success" href="#">ADMIN</a>
                        {% elseif user.getRoles()[0] == 'ROLE_DESACTIVED' %}
                            <a class="btn btn-danger" href="#">DESACTIVED</a>
                        {% else %}
                            <a class="btn btn-light text-danger" href="#">UNKNOWN</a>

                        {% endif %}
                    </td>
                    <td>
                        <form action="{{ path('blog.administration.edit_role', { id: user.id }) }}" method="post" class="d-inline">
                            <div class="form-group">
                                <select name="role" class="form-select">
                                    <option value="0" {% if user.getRoles()[0] == 'ROLE_USER' %}selected{% endif %} class="text-info">User</option>
                                    <option value="1" {% if user.getRoles()[0] == 'ROLE_DESACTIVED' %}selected{% endif %} class="text-danger">DESACTIVED</option>
                                    <option value="2" {% if user.getRoles()[0] == 'ROLE_ADMIN' %}selected{% endif %} class="text-success">Admin</option>
                                </select>
                                <button type="submit" class="btn btn-info btn-sm ">
                                    <i class="fa fa-save"></i> Save
                                </button>
                            </div>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <style>

        .role-role_user {
            background-color: #d4edda;
        }

        .role-role_admin {
            background-color: #cce5ff;
        }

        .role-role_super_admin {
            background-color: #e2d9f3;
        }

        .table th, .table td {
            vertical-align: middle;
        }
        .title-section {
            color:black;
            font-size: 35px;
        }
        .form-group{
            display: flex;
            flex-direction: row;
            padding: 10px;
            margin-left: 10px;
            margin-right: -80px;
        }
        .form-group select{
            width: 100px;
        }
        .form-group .btn{
            margin-left: 30px;
        }

    </style>
{% endblock %}
